@{
ViewData["Title"] = "Calculator";
}

<form asp-controller="Home" asp-action="Calculator" method="POST">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
            <div class="text-center">
                <p class="text-center display-4">Input Your Numbers</p>
            <div class="row pb-3">
                <div class="col-md-6">
                    <label for="firstnumber">First Number</label>
                    <input name="firstnumber" id="firstnumber" type="number" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="secondnumber">Second Number</label>
                    <input name="secondnumber" id="secondnumber" type="number" class="form-control">
                </div>
            </div>
            <button class="btn btn-outline-info btn-lg" type="submit">Check Numbers</button>
            </div>
            <div class="pt-2">
                @{
                if(ViewBag.First != null && ViewBag.Second != null){
                    if(ViewBag.First > ViewBag.Second){
                        <p class="">The number @ViewBag.F with Square root @ViewBag.First has a higher square root than the number @ViewBag.S with square root @ViewBag.Second</p>
                    }else{
                        <p class="">The number @ViewBag.S with Square root @ViewBag.Second has a higher square root than the number @ViewBag.F with square root @ViewBag.First</p>
                    }
                }

                if(ViewBag.Error != null){
                    <p class="text-danger">@ViewBag.Error</p>
                    
                }

                if(ViewBag.Check != null){
                    <p class="text-danger">@ViewBag.Check</p>
                }
            }
            </div>
        </div>
    </div>
</form>